{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Base Portal</title>
    <link rel="stylesheet" href="{% static 'css/LoginPage.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    
</head>
<body>
    <div class="Accessibility-Toolbar">
        <a href="#"><i class="fas fa-home"></i></a>
        <span class="divider"></span>
        <a href="#">AB</a>
        <a href="#">A_B</a>
        <a href="#">A__B</a>
        <span class="divider"></span>
        <a href="#">A-</a>
        <a href="#">A</a>
        <a href="#">A+</a>
        
    </div>
    <div class="header-title">
        <div class="Logo-container"><img src="{% static 'images/Telanganalogo.png' %}" alt="" class="Telangana_logo"></div>
        <h2>GEOSPATIAL DATA PORTAL</h2>
             
    </div>

    <div class="Grid-container">
        <div class="Grid-container-left"></div>
        <div class="Grid-container-right">

              <div class="loginForm" id="id="loginForm">

                <h2>Department Login</h2>
                <p>Sign in to your account</p>
                
                <form id="loginForm">
                     <div class="input-box">
                         <label>Username</label>
                         <input type="text" id="username" placeholder="Username" required>
                     </div>

                    <div class="input-box">
                        <label>Password</label>
                        <input type="password" id="password" placeholder="Enter Password" required>
                    </div>

                    <div class="options">
                        <label><input type="checkbox"> Remember Me</label>
                        <a href="#">Forgot Password?</a>
                        
                    </div>
                     
      
                        <button type="submit">LOGIN</button>
                    <div class="newaccount">
                        <a href="#">Create New Account..?</a>
                    </div>
                        
                    
                </form>
                

                
               </div>
        </div>
    </div>
  <script src="{% static 'js/LoginPage.js' %}"></script>
</body>
